                    <h2>LOGIN SYSTEM</h2>

<br>

<button class="register-btn" routerLink="/register">REGISTER</button>

<form><!--[formGroup]="loginForm" (ngSubmit)="loginform()">-->
    USER NAME: <br>
    <input type="text" formControlName="loginUsername" id="loginUserName" placeholder="user-name">
    <br>
    PASSWORD: <br>
    <input type="password" formControlName="loginPassword" id="loginPassWord" placeholder="password">
    
    <button type = "submit" class="container">LOGIN</button>

</form>

<!--
<a routerLink="/welcome" routerLinkActive="active">
    <button class="container" ng-click="">LOGIN</button>

</a>
-->

<!--
<nav>

</nav>
-->